.hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
    background-image: url(../../images/mobile/main3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    padding-top: 118px;
    padding-bottom: 118px;
  }
  
  .hero_title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
  
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  
    color: $light;
    margin-bottom: 30px;
  }

  @media screen and (min-width:768px) {
    .hero {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/tablet/main2.jpg);
    }
  }
  
  @media screen and (min-width:1200px) {
    .hero {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/dekstop/main.jpg);
    }
  
  }